<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_attribute_update_before">
        <observer name="update_massive_event" instance="Apisearch\Searcher\Observer\MassiveUpdate"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="save_product_event" instance="Apisearch\Searcher\Observer\SaveProduct"/>
    </event>
    <event name="catalog_product_delete_after">
        <observer name="delete_product_event" instance="Apisearch\Searcher\Observer\DeleteProduct"/>
    </event>
</config>