<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="Apisearch_Searcher" frontName="apisearch_searcher">
            <module name="Apisearch_Searcher" before="Magento_Backend" />
        </route>
    </router>
</config>