<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <searcher>
            <general>
                <enable>1</enable>
                <index_id></index_id>
                <appUUID></appUUID>
                <tokenUUID></tokenUUID>
                <publicToken></publicToken>
                <real_time>1</real_time>
            </general>
            <feed_configuration>
                <listting_attributes>
                    <item1>
                        <attribute>sku</attribute>
                    </item1>
                    <item2>
                        <attribute>name</attribute>
                    </item2>
                    <item3>
                        <attribute>short_description</attribute>
                    </item3>
                    <item4>
                        <attribute>image</attribute>
                    </item4>
                    <item5>
                        <attribute>url_key</attribute>
                    </item5>
                    <item6>
                        <attribute>review</attribute>
                    </item6>
                </listting_attributes>
                <filterable_attributes>
                    <item1>
                        <attribute>price</attribute>
                    </item1>
                </filterable_attributes>
                <searchable_attributes>
                    <item1>
                        <attribute>name</attribute>
                    </item1>
                    <item2>
                        <attribute>short_description</attribute>
                    </item2>
                </searchable_attributes>
                <exact_matching_metadata>
                    <item1>
                        <attribute>sku</attribute>
                    </item1>
                </exact_matching_metadata>
            </feed_configuration>
        </searcher>
    </default>
</config>